kubernetes==24.2.0
jupyterhub==3.0.0
git+https://github.com/jupyterhub/oauthenticator.git@15.1.0
git+https://github.com/jupyterhub/kubespawner.git@4.2.0
git+https://github.com/jupyterhub/wrapspawner.git@83781e1fc6085f8939b6fea6304d8d0f024b0884
jupyterhub-tmpauthenticator==0.6
jupyterhub-ldapauthenticator==1.3.2
psycopg2==2.9.3
openshift==0.13.1
wrapt==1.14.1
